# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Migrations
*/migrations/
!*/migrations/__init__.py

# Environment variables
.env

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Docker
*.pid

# Virtual environments
venv/
env/
ENV/
.venv/